<div
  class="
    grid
    grid-cols-5
    gap-4
    max-w-[1000px]
    mx-auto
    my-12
    p-0
    justify-between
    lg:grid-cols-4
    lg:max-w-[800px]
    md:grid-cols-3
    md:max-w-[600px]
    sm:grid-cols-[auto-fit,minmax(150px,1fr)]
    sm:gap-4
    sm:justify-center
    sm:px-4
  "
>
  <ng-container *ngIf="logos?.length; else noResults">
    <app-logo-item
      *ngFor="let logo of logos"
      [logo]="logo"
    ></app-logo-item>
  </ng-container>
</div>

<ng-template #noResults>
  <div
    class="
      text-center
      py-12
      text-gray-500
      text-lg
      bg-white
      rounded-lg
      shadow
      mx-4
    "
  >
    No results found.
  </div>
</ng-template>
